services:
  mail:
    image: mailhog/mailhog
    container_name: mailhog
    hostname: mailhog.localhost
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"
    environment:
      MH_STORAGE: maildir
      MH_MAILDIR_PATH: /tmp
    volumes:
      - ./docker/volumes:/tmp
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mailhog.rule=Host(`mailhog.localhost`)"
      - "traefik.http.routers.mailhog.entrypoints=web"
      - "traefik.http.services.mail.loadbalancer.server.port=8025"

networks:
  docker_compose_samples:
    external: true
