services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    hostname: tempo.localhost
    restart: unless-stopped
    command: ["-target=all", "-config.file=/etc/tempo.yaml"]
    volumes:
      - ./docker/resources/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    ports:
      - "3200:3200" # tempo
      - "4317:4317" # otlp grpc
      - "4318:4318" # otlp http
    depends_on:
      - minio
      - redpanda
    networks:
      - docker_compose_samples

  minio:
    image: minio/minio:latest
    container_name: minio
    hostname: minio.localhost
    restart: unless-stopped
    environment:
      - MINIO_ACCESS_KEY=tempo
      - MINIO_SECRET_KEY=supersecret
    ports:
      - "9001:9001"
    entrypoint:
      - sh
      - -euc
      - mkdir -p /data/tempo && minio server /data --console-address ':9001'
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`minio.localhost`)"
      - "traefik.http.routers.minio.entrypoints=web"
      - "traefik.http.services.minio.loadbalancer.server.port=9001"

  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    hostname: redpanda.localhost
    restart: unless-stopped
    ports:
      - "9092:9092" # Kafka API for clients
    command: >
      redpanda start --overprovisioned
      --mode=dev-container
      --kafka-addr=PLAINTEXT://0.0.0.0:9092
      --advertise-kafka-addr=PLAINTEXT://redpanda:9092
    networks:
      - docker_compose_samples

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: redpanda-console
    hostname: redpanda-console.localhost
    restart: unless-stopped
    environment:
      - CONFIG_FILEPATH=/etc/redpanda/redpanda-console-config.yaml
    volumes:
      - ./docker/resources/redpanda/redpanda-console.yaml:/etc/redpanda/redpanda-console-config.yaml
    # ports:
    #   - "8080:8080"
    depends_on:
      - redpanda
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.redpanda-console.rule=Host(`redpanda-console.localhost`)"
      - "traefik.http.routers.redpanda-console.entrypoints=web"
      - "traefik.http.services.redpanda-console.loadbalancer.server.port=8080"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus.localhost
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
    volumes:
      - ./docker/resources/prometheus/prometheus.yaml:/etc/prometheus.yaml
    # ports:
    #   - "9090:9090"
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.localhost`)"
      - "traefik.http.routers.prometheus.entrypoints=web"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana.localhost
    restart: unless-stopped
    volumes:
      - ./docker/resources/grafana/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    # ports:
    #   - "3000:3000"
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.localhost`)"
      - "traefik.http.routers.grafana.entrypoints=web"

volumes:
  tempo_data:

networks:
  docker_compose_samples:
    external: true
