version: "3.8"

services:
  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector
    restart: always
    ports:
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP http receiver
      # - "6831:6831/udp"
    volumes:
      - ./docker/resources/otel-collector/otel-collector.yaml:/etc/otel-collector.yaml
      - ./docker/volumes/otel-collector:/opt/otel-collector
    command: [ "--config=/etc/otel-collector.yaml" ]
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.otel-collector.rule=Host(`otel-collector.localhost`)"
      - "traefik.http.routers.otel-collector.entrypoints=web"

networks:
  docker_compose_samples:
    external: true
