services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana.localhost
    restart: unless-stopped
    volumes:
      - ${DATASOURCE_FILE:-./docker/resources/grafana/grafana-datasources.tempo.yaml}:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    # ports:
    #   - "3000:3000"
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.localhost`)"
      - "traefik.http.routers.grafana.entrypoints=web"

networks:
  docker_compose_samples:
    external: true
