version: "3.8"

services:
  db:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
    volumes:
      - ./docker/volumes/mysql:/var/lib/mysql
    networks:
      - docker_compose_samples

  wordpress:
    image: wordpress:latest
    container_name: wordpress
    hostname: wordpress.localhost
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
    volumes:
      - ./docker/volumes/wordpress/wp-content:/var/www/html/wp-content
    # ports:
    #   - 80:80
    depends_on:
      - db
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wordpress.rule=Host(`wordpress.localhost`)"
      - "traefik.http.routers.wordpress.entrypoints=web"

networks:
  docker_compose_samples:
    external: true
