version: "3.8"

services:
  jeager:
    image: jaegertracing/all-in-one
    container_name: jeager
    hostname: jeager.localhost
    restart: always
    ports:
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - SPAN_STORAGE_TYPE=badger
      - BADGER_EPHEMERAL=false
      - BADGER_DIRECTORY_VALUE=/badger/data
      - BADGER_DIRECTORY_KEY=/badger/key
    volumes:
      - ./docker/volumes/jeager:/badger
    networks:
      - docker_compose_samples
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jeager.rule=Host(`jeager.localhost`)"
      - "traefik.http.routers.jeager.entrypoints=web"
      - "traefik.http.services.jeager.loadbalancer.server.port=16686"

networks:
  docker_compose_samples:
    external: true
